@page "/"
@attribute [Authorize]

@using Chinook.Models
@using Microsoft.EntityFrameworkCore
@using System.Text.RegularExpressions

<PageTitle>Index</PageTitle>

<h1>Artists</h1>

@if (Artists == null)
{
    <Loading />
}
else
{
    <input type="text" class="form-control" placeholder="Search Artists by name..." @bind="@searchTerm" @oninput="OnArtistSearch" />
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of albums</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var artist in Artists)
            {
                if (artist.Name != null)
                {
                    string artistName = artist.Name;

                    if (searchTerm != null)
                    {
                        artistName = Regex.Replace(artist.Name, searchTerm, new MatchEvaluator(match =>
                        {
                            return "<span class='highlight-search'>" + match.Value + "</span>";
                        }),
                        RegexOptions.Compiled | RegexOptions.IgnoreCase);
                    }

                    <tr>
                        <td><a href="Artist/@artist.Id">@((MarkupString)artistName)</a></td>
                        <td>@(artist.Albums != null ? artist.Albums.Count() : 0)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}


